body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    290deg,
    rgb(248, 126, 126) -0.5%,
    rgb(251, 206, 143) 35.3%,
    rgb(184, 252, 233) 67.2%,
    rgb(118, 162, 229) 92.3%
  );
  background-size: cover;
}
h1 {
  text-align: center;
}
footer {
  text-align: center;
}
